<div class="row">
  <br><br><br>
    <div class="root" style="width:100%;overflow-x:auto;">
        <ul class="progressbar">
          <li [ngClass]="{'active':detail.sw_status>=0}"   [matTooltip]="'โดย: '+detail.cdg_name"  [matTooltipDisabled]="false">รอเสนออนุมัติ</li>
          <li [ngClass]="{'active':detail.sw_status>=1}"   [matTooltip]="'โดย: '+detail.cdg_name" [matTooltipDisabled]="!(detail.sw_status>=1)">sw ภาคเสนออนุมัติ</li>
          <li [ngClass]="{'active':detail.sw_status>=2}"   [matTooltip]="'โดย: '+detail.rg_name" [matTooltipDisabled]="!(detail.sw_status>=2)">วิชาการภาคเสนออนุมัติ</li>
          <li [ngClass]="{'active':detail.sw_status>=3}"   [matTooltip]="'โดย: '+detail.mts_name" [matTooltipDisabled]="!(detail.sw_status>=3)">MTS เสนออนุมัติ</li>
          <li [ngClass]="{'active':detail.sw_status>=4}"   [matTooltip]="'โดย: '+detail.center_name" [matTooltipDisabled]="!(detail.sw_status>=4)">วิชาการกลางเสนออนุมัติ</li>
        </ul>
    </div>
</div>
<!---##########################################################################-->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>หน่วยงาน: {{detail?.place}}</mat-card-title>
    <mat-card-subtitle>
      ระบบงาน/โปรแกรม: {{detail?.prob_gdesc}}/{{detail?.problem_sub_desc}}
      <br>
      วันที่:{{detail?.visit_date}}
      <br>
      เจ้าหน้าที่:{{detail?.cust_name}}
      <br>
      พนักงาน:{{detail?.cdg_name}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form #f="ngForm">
      <mat-form-field style="width:95%">
        <textarea matInput placeholder="รายละเอียด" #sw_detail="ngModel" name="sw_detail" [(ngModel)]="detail.sw_detail"
          [disabled]="detail.sw_status!=0 || !(user.upd_permit==1 && user.level.indexOf('1')>-1) || isupdate " required></textarea>
        <mat-error *ngIf="sw_detail.invalid&&(sw_detail.dirty||sw_detail.touched)">กรุณาระบุรายละเอียด</mat-error>
        <!-- <span>{{sw_detail.invalid+','+sw_detail.dirty+','+sw_detail.touched}}</span> -->
      </mat-form-field>
      <mat-form-field style="width:95%">
        <textarea matInput placeholder="ข้อเสนอแนะ" #sw_suggestion="ngModel" name="sw_suggestion" [(ngModel)]="detail.sw_suggestion"
          [disabled]="detail.sw_status!=0 || !(user.user_id==detail.sw_emp && user.upd_permit==1 && user.level.indexOf('1')>-1) || isupdate" required></textarea>
        <mat-error *ngIf="sw_suggestion.invalid&&(sw_suggestion.dirty||sw_suggestion.touched)">กรุณาระบุข้อเสนอแนะ</mat-error>
        <span style="font-size:10px;" [hidden]="detail.sw_filedoc===null||detail.sw_filedoc===''"><a (click)="open(detail.sw_filedoc)"
            mat-button color="accent">เอกสารแนบ</a><a mat-button color="warn" [disabled]="detail.sw_status!=0 || !(user.user_id==detail.sw_emp && user.upd_permit==1 && user.level.indexOf('1')>-1) || isupdate"
            (click)="del(detail.sw_filedoc)">ลบ</a></span>
      </mat-form-field>
      <mat-form-field style="width:95%">
        <textarea matInput placeholder="ข้อเสนอแนะวิชาการภาค" #sw_rg_remark name="sw_rg_remark" [(ngModel)]="detail.sw_rg_remark"
          [disabled]="detail.sw_status!=1 || !(user.user_id==detail.sw_emp && user.upd_permit==1 && user.level.indexOf('2')>-1) || isupdate"></textarea>
        <span style="font-size:10px;" [hidden]="detail.sw_rg_filedoc===null||detail.sw_rg_filedoc===''"><a (click)="open(detail.sw_rg_filedoc)"
            mat-button color="accent">เอกสารแนบ</a><a mat-button color="warn" [disabled]="detail.sw_status!=1 || !(user.user_id==detail.sw_emp && user.upd_permit==1 && user.level.indexOf('2')>-1) || isupdate"
            (click)="del(detail.sw_rg_filedoc)">ลบ</a></span>
      </mat-form-field>
      <mat-form-field style="width:95%">
        <textarea matInput placeholder="ข้อเสนอแนะ MTS" #sw_mts_remark name="sw_mts_remark" [(ngModel)]="detail.sw_mts_remark"
          [disabled]="detail.sw_status!=2 || !(user.upd_permit==1 && user.level.indexOf('3')>-1)  || isupdate"></textarea>
        <span style="font-size:10px;" [hidden]="detail.sw_mts_filedoc===null||detail.sw_mts_filedoc===''"><a (click)="open(detail.sw_mts_filedoc)"
            mat-button color="accent">เอกสารแนบ</a><a mat-button color="warn" [disabled]="detail.sw_status!=2|| !(user.upd_permit==1 && user.level.indexOf('3')>-1) || isupdate"
            (click)="del(detail.sw_mts_filedoc)">ลบ</a></span>
      </mat-form-field>
      <mat-form-field style="width:95%">
        <textarea matInput placeholder="ข้อเสนอแนะวิชาการกลาง" #sw_center_remark name="sw_center_remark" [(ngModel)]="detail.sw_center_remark"
          [disabled]="detail.sw_status!=3 || !(user.upd_permit==1 && user.level.indexOf('4')>-1) || isupdate"></textarea>
        <span style="font-size:10px;" [hidden]="detail.sw_center_filedoc===null||detail.sw_center_filedoc===''"><a
            (click)="open(detail.sw_center_filedoc)" mat-button color="accent">เอกสารแนบ</a><a mat-button color="warn"
            [disabled]="detail.sw_status!=3|| !(user.upd_permit==1 && user.level.indexOf('4')>-1) || isupdate" (click)="del(detail.sw_center_filedoc)">ลบ</a></span>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button color="warn" (click)="file.click()" [disabled]="f.invalid || detail.sw_status!=0 || isupdate"
      *ngIf="(user.upd_permit==1 && user.level.indexOf('1')>-1)">
      <mat-icon>file_upload</mat-icon>
      upload
    </button>
    <button type="button" mat-button color="warn" (click)="file.click()" [disabled]="f.invalid || detail.sw_status!=1 || isupdate"
      *ngIf="(user.upd_permit==1 && user.level.indexOf('2')>-1)">
      <mat-icon>file_upload</mat-icon>
      upload
    </button>
    <button type="button" mat-button color="warn" (click)="file.click()" [disabled]="f.invalid || detail.sw_status!=2 || isupdate"
      *ngIf="(user.upd_permit==1 && user.level.indexOf('3')>-1)">
      <mat-icon>file_upload</mat-icon>
      upload
    </button>
    <button type="button" mat-button color="warn" (click)="file.click()" [disabled]="f.invalid || detail.sw_status!=3 || isupdate"
      *ngIf="(user.upd_permit==1 && user.level.indexOf('4')>-1)">
      <mat-icon>file_upload</mat-icon>
      upload
    </button>
    <span><b>file:&nbsp;</b>{{filedoc}}</span>
    <input type="file" #file style="display:none;" accept="image/*,application/pdf" (change)="upload(file)">
  </mat-card-actions>
  <mat-card-footer>
    <button mat-flat-button color="primary" [disabled]="f.invalid || !(user.user_id==detail.sw_emp) || detail.sw_status!=0 || isupdate" *ngIf="(user.upd_permit==1 && user.level.indexOf('1')>-1)"
      (click)="update()">ปรับปรุง</button>
    <button mat-flat-button color="primary" [disabled]="f.invalid || detail.sw_status!=1 || isupdate" *ngIf="(user.upd_permit==1 && user.level.indexOf('2')>-1)"
      (click)="update()">ปรับปรุง</button>
    <button mat-flat-button color="primary" [disabled]="f.invalid || detail.sw_status!=2 || isupdate" *ngIf="(user.upd_permit==1 && user.level.indexOf('3')>-1)"
      (click)="update()">ปรับปรุง</button>
    <button mat-flat-button color="primary" [disabled]="f.invalid || detail.sw_status!=3 || isupdate" *ngIf="(user.upd_permit==1 && user.level.indexOf('4')>-1)"
      (click)="update()">ปรับปรุง</button>


    <button mat-flat-button color="accent" [disabled]="detail.sw_status!=0 || !(user.user_id==detail.sw_emp) || isapprove" *ngIf="(user.upd_permit==1 && user.level.indexOf('1')>-1)"
      (click)="approve($event)">เสนออนุมัติ</button>
    <button mat-flat-button color="accent" [disabled]="detail.sw_status!=1 || isapprove" *ngIf="(user.upd_permit==1 && user.level.indexOf('2')>-1)" (click)="approve($event)">เสนออนุมัติ</button>
    <button mat-flat-button color="accent" [disabled]="detail.sw_status!=2 || isapprove" *ngIf="(user.upd_permit==1 && user.level.indexOf('3')>-1)"
      (click)="approve($event)">เสนออนุมัติ</button>
    <button mat-flat-button color="accent" [disabled]="detail.sw_status!=3 || isapprove" *ngIf="(user.upd_permit==1 && user.level.indexOf('4')>-1)"
      (click)="approve($event)">เสนออนุมัติ</button>
      <button mat-flat-button color="primary" (click)="print()"><mat-icon >print</mat-icon></button>
    <button mat-flat-button color="warn" (click)="back()">ปิด</button>
  </mat-card-footer>
</mat-card>
