/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.mat-select-panel mat-option.mat-option {
  height: unset;
}
.mat-option-text.mat-option-text {
  white-space: normal;
}
